$texts: 'Roboto', sans-serif;
$text-color: #171616;
$text-hover: #234875;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $texts;
  color: $text-color;
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: $text-color;

  transition: 0.1s linear color;
}

a:hover {
  color: $text-hover;
}

button {
  background-color: #6cac3d;
  color: #fff;
}

.fluid-font-size {
  font-size: calcFluidFontSize(16, 48, 320, 1280);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
