/* Input Decoration */

/* Кликаешь оно изменяет цвет текст после input или перед..*/
.form-page-form__text:focus-within {
  color: #2d4872;
}

.page-form__text {
  display: flex;
}

.form-input__checkbox {
  margin-right: 10px;
}

input[type='radio'] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #f2f2f2;
  /* Not removed via appearance */

  font: inherit;
  color: #2d4872;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #cccccc;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type='radio']::before {
  content: '';
  width: 0.31em;
  height: 0.31em;
  border: 0.15em solid #2d4872;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: #2d4872;
}

input[type='radio']:checked::before {
  transform: scale(1);
}

input[type='radio']:focus {
  border: 0.15em solid #2d4872;
}
