@function calcFluidFontSize($f-min, $f-max, $v-min, $v-max) {
  $k: ($f-max - $f-min)/ ($v-max - $v-min);
  $b: $f-min - $k * $v-min;

  $b: $b * 1px;

  @return calc(#{$k} * 100vw + #{$b});
}

@mixin roWrap {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

@mixin columnWrap {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.header {
  margin-top: 23px;
}

.header-inner {
  @include roWrap;
  justify-content: space-between;
}

.logo {
  background: url('../../assets/img/MaxProff.png') center no-repeat;
  width: 126px;
  height: 44px;
}

.header-nav {
  @include roWrap;

  gap: 24px;
}

.header-nav__link {
  font-size: calcFluidFontSize(14, 16, 320, 1400);
}

.header-contact {
  @include roWrap;
  justify-content: space-between;
  text-align: center;

  gap: 33px;
}

.header-contat__tel {
  font-weight: 700;
  line-height: 85.7142857143%;

  margin-bottom: 5px;
}

.header-contact__schedule {
  font-size: calcFluidFontSize(12, 14, 320, 1400);
}

.header-contact__icon {
  width: 18px;
  height: 18px;
  color: red;
  background: url('../../assets/img/header-tel__icon.png') center no-repeat;
  display: inline-block;
  margin-right: 5px;
}

.header-container__inner {
  @include columnWrap;
}

.header-contact__btn {
  font-size: calcFluidFontSize(12, 16, 320, 1400);
  background-color: #fff !important;
  color: #6cac3d;

  padding: 13px 22px 13px 24px;

  border: 1px solid #6cac3d;
  border-radius: 3px;
  transition: 0.1s linear all;

  &:hover {
    background-color: #6cac3d !important;
    color: #fff;
  }

  cursor: pointer;
}
